* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f0f0f0;
}

header {
    background-color: #2c3e50;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;

}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 1rem 0;
    font-size: large;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #ecf0f1;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #3498db;
}

main {
    max-width: 1200px;
    margin: 80px auto 0;
    padding: 2rem;
}

section {
    margin-bottom: 4rem;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
    color: #2c3e50;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    font-size: 2rem;
    border-bottom: 2px solid #3498db;
    padding-bottom: 0.5rem;
}

/* Sobre mim */
#sobre {
    text-align: center;
    font-size: larger;
}


/* Projetos */
#projetos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article {
    flex-basis: calc(50% - 1rem);
    margin-bottom: 2rem;
    font-size: larger;
}

article img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
}

/* Responsividade para projetos */
@media (max-width: 768px) {
    article {
        flex-basis: 100%;
    }
}

/* Habilidades */
#habilidades ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

#habilidades li {
    background-color: #3498db;
    color: #ffffff;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 20px;
    font-weight: 500;
}

/* Formação */
#formacao p {
    font-style: italic;
}

/* Contato */
#contato ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1rem;
}

#contato li {
    margin: 0 1rem;
}

#contato a {
    color: #3498db;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

#contato a:hover {
    color: #2c3e50;
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

body, html {
    height: 100%;
}

main {
    min-height: calc(100vh - 80px - 80px); 
}
